html {
	scroll-behavior: smooth;
  }

body{
	background-color: #f7f7f7;
	font-size: 20px;
	/* font-family: sans-serif; */
	color: #333;
    padding: 2rem;
    margin: 1rem;
	/* font-family: "Montserrat", sans-serif !important; */
}

/*
.w3-button {
	margin-right: 2rem !important;
	
}
*/

.w3-opacity {
	opacity: 1 !important;
}

.fa-remove {
	margin-right: 2rem !important;
}

.headerstyle {
    background: #ff4486 !important;
    color: #fff;
    border-radius: 6px;
   /* font-family: 'Oleo Script', serif; */
    font-weight: 400;
    padding: 0.25em 0.2em 0.25em 0.2em;
    font-size: 1em;
    /* letter-spacing: 0.05em; */
    display: inline-block;
    vertical-align: middle;
}

@media only screen and (max-width: 600px) {
	.headerstyle {
		font-size: smaller;
	}
	.subheader {
		font-size: small;
	}
  }

  @media only screen and (max-width: 300px) {
	.headerstyle {
		font-size: x-large;
	}

  }

.boxheader {
	display: inline-grid;
	vertical-align: super;
}

.erfolg {
	margin-bottom: 3rem;
	font-size: small;
	margin-left: 10px;
}

.headerspan {
	font-size: large;
	margin-left: 10px;
}

/*
#quiz {

    
} */
.question{
	font-weight: 600;
	background: #fff;
    border-radius: 6px;
    box-shadow: 0px 3px 0px 0px rgb(0 0 0 / 5%);
	padding: 1rem;
}
.answers {
  margin-bottom: 20px;
  background: rgb(255, 255, 255);
    border-radius: 6px;
    box-shadow: rgb(0 0 0 / 5%) 0px 3px 0px 0px;
	padding: 1rem;
}
.answers label{
  display: block;
}
#submit{
	/* font-family: sans-serif; */
	font-size: 20px;
	background-color: #279;
	color: #fff;
	border: 0px;
	border-radius: 3px;
	padding: 20px;
	cursor: pointer;

	border-radius: 6px;
    font-weight: 600;
	
	
}


#submit:hover{
	background-color: #fff;
    color: #38a;
    border: solid;
}

.buttonbox {
	text-align: center;
	margin-bottom: 20px;
}

/* body,h1 {font-family: "Montserrat", sans-serif} */
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}

#results {
	
    color: #000000;
    padding: 2rem;
    font-weight: bolder;
    font-size: xx-large;
}

.ergb {
	font-size: x-large;
    text-align: center;
}


footer {
	background-color: black;
    color: #fff;
	padding: 10px;
    text-align: center;
}


/* style iframe */
/*
.container {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;  } /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
 
  
  
  /* Then style the iframe to fit in the container div with full height and width */
  /* .responsive-iframe {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
  }
  
*/
